<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDu-VK5CKTKlXQcV98Hklvhtl3U-L2Qeuc</string>
	<key>GCM_SENDER_ID</key>
	<string>862697137065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1310</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862697137065:ios:ed9255e2dc0610ed0edab8</string>
</dict>
</plist>